   <div class="ui container">
    <h2 class="ui horizontal divider header">
      <i class="student icon"></i>
      <%= @topic.course.title%> | <%=@topic.title%>
    </h2>
  </div>
  <div class="ui horizontal segments">

    <div class="ui segment">
     <div class="ui minimal comments">
      <h3 class="ui dividing header">Topics and Discussions</h3>
      <div class="comment">





        <a class="avatar">
          <%= image_tag 'defaultuser.png' %>
        </a>
        <div class="content">
          <a class="author"><%= @topic.lecturer.user.generalinfo.first_name + " " + @topic.lecturer.user.generalinfo.last_name%></a>
          <div class="metadata">
            <span class="date">Posted <%= time_ago_in_words(@topic.created_at) %> ago.</span>
          </div>
          <div class="text">
            <%=@topic.title%>
          </div>





        </div>
        <div class="comments">
         <% if @topic.comments.any? %>


         <% @topic.comments.each do |comment| %>
         <div class="comment">



          <a class="avatar">
            <%= image_tag 'defaultuser.png' %>
          </a>
          <div class="content">
            <a class="author"><%= comment.student.user.generalinfo.first_name + " " + comment.student.user.generalinfo.last_name%></a>
            <div class="metadata">
              <span class="date">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
            </div>
            <div class="text">
              <%= comment.content %>
            </div>

          </div>
        </div>
        <% end %>

        <% end %>

      </div>

    </div>
  </div>
</div>
<div class="ui segment">
<% if @topic.topic_scores.any? %>
<% provide(:button_text,"Update Scores") %>
<%= render 'topics/form' %>
<% else %>
<% provide(:button_text,"Save Scores") %>
<%= render 'topics/form' %>
<% end %>
</div>
</div>

<div class="ui container center aligned">

  
  <%= link_to "Back to your course", course_path(@topic.course), class: "ui  large red button" %>
  

</div>