<div class="ui container">
<h2 class="ui horizontal divider  header">
  <i class="browser icon"></i>
  Course Registration
</h2>
<%= form_for(:course_selection, url: register_courses_path) do |f| %>

<table class="ui compact celled definition table">
  <thead>
    <tr>
      <th></th>
      <th>Course ID</th>
      <th>Title</th>
      <th>Credits</th>
      
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td class="collapsing">
        <div class="ui fitted checkbox">
          <%= check_box_tag(name = "courses_taken[]",value = course.id, checked = false)%><label></label>
        </div>
      </td>
      <td><%= course.course_id %></td>
      <td><%= course.title %></td>
      <td><%= course.credits %></td>
      
   </tr>
   <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        
        <%= f.submit "Add Course(s)", class: "ui right floated small primary button" %>
        
        
        
        <div class="ui small button">
          Add All
        </div>
      </th>
    </tr>
  </tfoot>
</table>
  <% end %>
</div>