<div class="ui container">
  <h2 class="ui horizontal divider header">
    <i class="student icon"></i>
    <%= @course.title%>
  </h2>
</div>
<div class="ui horizontal segments">

  <div class="ui segment">
    <h3 class="ui top attached header inverted">
      Registered Students
    </h3>
  </div>
  <div class="ui segment">
<h3 class="ui top attached header inverted">
      Topics and Discussions
    </h3>
    <% if current_user.is_a.eql? "lecturer" %>



    <%= form_for(@topic, url: topics_path,:html => {:class => "ui reply form", :name => "topicTitle"}) do |f| %>

    <div class="field">
      <%= f.text_area :title %>

    </div>
    <div onclick="document.topicTitle.submit()" class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Post Topic
    </div>
    
    <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.hidden_field :lecturer_id, :value => @current_user.lecturer.id %>
    
    <% end %>
    <% end %>
    <div class="ui threaded comments">
        <h3 class="ui dividing header">Topics and Discussions</h3>
        
        <% @all_topics_of_course.each do |topic|%>

         <div class="comment">
           
    
    
          <div class="ui right floated labeled button" tabindex="0">
  <div class="ui teal button">
    <i class="checkmark icon"></i> Score
  </div>
  <%= link_to pluralize(topic.comments.count, 'comment'), topic_path(topic), class: "ui basic teal left pointing label reply" %>
  
</div>
      
      
          <a class="avatar">
            <%= image_tag 'defaultuser.png' %>
          </a>
          <div class="content">
            <a class="author"><%= topic.lecturer.user.generalinfo.first_name + " " + topic.lecturer.user.generalinfo.last_name%></a>
            <div class="metadata">
              <span class="date">Posted <%= time_ago_in_words(topic.created_at) %> ago.</span>
            </div>
            <div class="text">
              <%=topic.title%>
            </div>
            

           


            </div>
             <div class="comments">
       <% if topic.comments.any? %>

          
              <% topic.comments.each do |comment| %>
              <div class="comment">

                <a class="avatar">
                  <%= image_tag 'defaultuser.png' %>
                </a>
                <div class="content">
                  <a class="author"><%= comment.student.user.generalinfo.first_name + " " + comment.student.user.generalinfo.last_name%></a>
                  <div class="metadata">
                    <span class="date">Posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
                  </div>
                  <div class="text">
                    <%= comment.content %>
                  </div>

                </div>
              </div>
              <% end %>
                
                <% end %>
      <% if current_user.is_a.eql? "student" %>
            <%= form_for(@comment, url: comments_path,:html => {:class => "ui reply form", :name => "topicComment"}) do |fc| %>

            <div class="field">
              <%= fc.text_area :content %>

            </div>
           
           
            <%= fc.submit "Add Comment", class: "ui blue submit icon button" %>

            <%= fc.hidden_field :student_id, :value => @current_user.student.id %>
            <%= fc.hidden_field :topic_id, :value => topic.id %>

            <% end %>
            <% end %>
    </div>

            </div>

            <% end %>
            </div>
  </div>
  
      <div class="ui segment ">
        <h3 class="ui top attached header inverted">
          Registered Students
        </h3>
        <div class="ui celled list">
          <% @students_of_course.each do |student| %>
          <div class="item">
            <%= image_tag 'defaultuser.png', class: 'ui avatar image' %>
            <div class="content">
              <div class="header"><%= student.user.generalinfo.first_name%></div>
              Student
            </div>
          </div>
          <%end%>
        </div>
      </div>
      
    
    

  </div>




