<!DOCTYPE html>
<html>
<head>
  <title>E Learning</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <% if current_user %>
 <%= render 'layouts/header' %>
 <% end %>

 <% flash.each do |message_type, message| %>

<%= content_tag(:div, message, class: "ui #{message_type} message") %>
<% end %>
<%= yield %>







</body>
</html>
